################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/X_Hackathon/bin
/X_Hackathon/.vs
